[submodule "inputs"]
	path = inputs
	url = https://jugit.fz-juelich.de/hhu_course_algorithms_and_advanced_programming/data.git
	branch = master
	datalad-id = 84993c06-469a-11ea-9875-f832e4bcbbfb
[submodule "code/Name-not-found"]
	path = code/Name-not-found
	url = https://github.com/KaiserTim/Name-not-found
	branch = master
[submodule "outputs"]
	path = outputs
	url = ./outputs
	branch = master
	datalad-id = a14f181c-4e5f-11ea-aee9-88b111935c51
